<a href="https://colab.research.google.com/github/AURORARISE/MSSP-6070/blob/main/Week_5_Assisgnment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
import pandas as pd
from google.colab import drive

In [51]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [52]:
# 文件路径列表，根据你提供的路径修改
files = [
    '/content/drive/MyDrive/MSSP6070/c. Modules/Week_5/aapl.csv',
    '/content/drive/MyDrive/MSSP6070/c. Modules/Week_5/amzn.csv',
    '/content/drive/MyDrive/MSSP6070/c. Modules/Week_5/fb.csv',
    '/content/drive/MyDrive/MSSP6070/c. Modules/Week_5/goog.csv',
    '/content/drive/MyDrive/MSSP6070/c. Modules/Week_5/nflx.csv'
]

In [53]:
dataframes = []

In [54]:
for file in files:
    ticker = file.split('/')[-1].split('.')[0].upper()
    df = pd.read_csv(file)
    df['ticker'] = ticker
    dataframes.append(df)

In [55]:
combined_df = pd.concat(dataframes, ignore_index=True)

In [56]:
csv_path = '/content/drive/MyDrive/MSSP6070/c. Modules/Week_5/faanf.csv'
combined_df.to_csv(csv_path, index=False)

In [57]:
df = pd.read_csv(csv_path)

In [58]:
df['date'] = pd.to_datetime(df['date'])

In [59]:
df['volume'] = df['volume'].astype(int)

In [60]:
df = df.sort_values(by=['date', 'ticker'])

In [61]:
top_seven = df.nlargest(7, 'volume')

In [62]:
melted_df = pd.melt(df, id_vars=['date', 'ticker'], var_name='variable', value_name='value')

print('The top seven rows with the highest trading volume:')
print(top_seven)
print('The first few lines of data after melt:')
print(melted_df.head())

The top seven rows with the highest trading volume:
          date      open      high       low     close     volume ticker
644 2018-07-26  174.8900  180.1300  173.7500  176.2600  169803668     FB
555 2018-03-20  167.4700  170.2000  161.9500  168.1500  129851768     FB
559 2018-03-26  160.8200  161.1000  149.0200  160.0600  126116634     FB
556 2018-03-21  164.8000  173.4000  163.3000  169.3900  106598834     FB
182 2018-09-21  219.0727  219.6482  215.6097  215.9768   96246748   AAPL
245 2018-12-21  156.1901  157.4845  148.9909  150.0862   95744384   AAPL
212 2018-11-02  207.9295  211.9978  203.8414  205.8755   91328654   AAPL
The first few lines of data after melt:
        date ticker variable      value
0 2018-01-02   AAPL     open   166.9271
1 2018-01-02   AMZN     open  1172.0000
2 2018-01-02     FB     open   177.6800
3 2018-01-02   GOOG     open  1048.3400
4 2018-01-02   NFLX     open   196.1000