<a href="https://colab.research.google.com/github/AURORARISE/MSSP-6070/blob/main/Week_2_Storing_Values_In_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
spam = [2, 4, 6, 8, 10]
spam[2] = 'hello'
spam

[2, 4, 'hello', 8, 10]

In [ ]:
letters = ['a', 'b', 'c', 'd']

result_b = letters[int(int('3'*2)//11)]
# Explanation: '3'*2 = '33'; int('33') = 33; 33 // 11 = 3; so index=3 -> 'd'

result_c = letters[-1]
# Explanation: -1 index means last element -> 'd'

result_d = letters[:2]
# Explanation: slice from start up to (not including) index 2 -> ['a', 'b']

(result_b, result_c, result_d)

('d', 'd', ['a', 'b'])

In [ ]:
# Example list
my_list = [1, 2, 3]
# Convert list to tuple
as_tuple = tuple(my_list)

# Example tuple
my_tuple = ('x', 'y', 'z')
# Convert tuple to list
as_list = list(my_tuple)

(as_tuple, as_list)

((1, 2, 3), ['x', 'y', 'z'])

In [ ]:
def comma_code(items):
    if len(items) == 0:
        return ''
    elif len(items) == 1:
        return str(items[0])
    else:
        # Join all but last with ', ', then add ', and ' + last
        return ', '.join(items[:-1]) + ', and ' + str(items[-1])

# Example
spam = ['apples', 'bananas', 'tofu', 'cats']
print(comma_code(spam))

apples, bananas, tofu, and cats